#root {
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0.5rem;
  text-align: center;
  background-color: var(--primary-background);
  overflow: hidden;
}


:root{
  --primary-background: #FFF6ED;
  --primary500: #D3620B;
  --accent500: #C4FCF0;
  --dark: #000
}


.main{
  margin: 0;
  padding: 0
}


.btn{
  min-width: 8vw;
  margin: 1vw;
}



@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
